html, body {
    color: #d0d0d0 !important;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.error {
    color: #ff5a5a !important;
}

.paid {
    color: #00ff6a;
}

.warning-msg {
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 500px;
    height: 200px;
    padding: 25px;
    border: 2px solid #FFC312;
    position: relative;
    margin: auto;
    top: 40%;
    z-index: 2;
}

.warning-msg-bg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    height: available;
    width: available;
    position: fixed;
    z-index: 1;
}

.center-align {
    text-align: center;
}

h3 {
    padding: 15px !important;
    color: white;
    font-weight: bold;
}

#login-header {
    margin-top: 10px;
    margin-bottom: 0;
}

#index-header {
    padding-bottom: 0 !important;
}

#checkout {
    padding-bottom: 20px;
}

#signup {
    color: #FFC312;
}

.card-body {
}

.input-group-text {
    background-color: #65656563 !important;
}

.card-header {
    padding-top: 20px;
    padding-bottom: 0;
}

.login_btn {
    width: 150px !important;
    color: black !important;
}

.form-group {
    margin-bottom: 0px;
}

.login-input-group {
    margin-bottom: 15px !important;
}

.a {
    background-color: #FFC312 !important;
}

.input-group {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
}

.table-bordered th {
    border: 1px solid #dee2e647
}

.table-bordered td {
    border: 1px solid #dee2e647
}

.table thead th {
    border: 1px solid #dee2e647
}

.btn {
    background-color: #a0a0a063;
    border-color: #23232305;
    margin: 5px;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    min-width: 800px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.reserv-buttons {
    height: 50px;
}

table {
    text-align: center !important;

}

.table td {
    vertical-align: middle !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: #d0d0d0;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}