<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Hotel System</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div>
                <h3 class="text-center" th:text="#{message.roomslist-page.header.title}"></h3>
            </div>
            <div class="card-body">
                <p class="white" th:if="${roomsList.isEmpty()==true}" th:text="#{message.roomslist-page.norooms}">There
                    is no rooms for booking in hotel now</p>
                <table th:if="${roomsList.isEmpty()==false}" class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{message.roomslist-page.roomnumber}">Room Number</th>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.roomslist-page.price}">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="room : ${roomsList}">
                        <tr>
                            <th th:text="${room.roomId}" scope="row">1</th>
                            <td th:text="${room.roomNumber}"></td>
                            <td th:text="#{'message.capacity.'+${room.capacity}}"></td>
                            <td th:text="#{'message.class.'+${room.classId}}"></td>
                            <td th:text="${room.price}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div>
                </div>
                <a th:href="@{/index/}" class="btn btn-dark float-left" th:text="#{message.roomslist-page.button.home}">Back
                    to home page</a>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <span th:text="#{message.change-language}+': '"></span>
                    <a th:href="@{'/language?lang=en'}" th:text="#{message.locale.en}"></a><span> /</span>
                    <a th:href="@{'/language?lang=ru'}" th:text="#{message.locale.ru}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/resources/js/hotel.js}"></script>
</body>
</html>