<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>


<div th:fragment="header" id="header" class="card-header card-header-flex">
    <div class="logo">
        <a>
            <img width="4000px" th:src="@{/images/logo.png}">
        </a>
    </div>

    <div class="card-header-flex">
        <div class="language">
            <span th:text="#{message.change-language}+': '"></span>
            <a th:href="@{'/language?lang=en'}">
                <img width="35px" th:src="@{/images/en.png}" th:alt="#{message.locale.en}">
            </a> <span> /</span>
            <a th:href="@{'/language?lang=ru'}">
                <img width="35px" th:src="@{/images/ru.png}" th:alt="#{message.locale.ru}">
            </a>
        </div>
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" class="btn header-button btn-dark" th:value="#{message.signout}"/>
        </form>
    </div>
</div>


<div th:fragment="footer" class="card-footer">
    <div>
        <a class="btn admin-mode-btn btn-warning center-align" sec:authorize="hasRole('ADMIN')" id="admin-mode-btn" th:text="#{message.button.admin-menu}"></a>

        <input onclick="back()" class="btn btn-dark" th:value="#{message.back}"/>
        <a id="toHomePage" th:if="${#httpServletRequest.requestURI == 'admin/rooms' ||
    #httpServletRequest.requestURI == 'user/request/new' ||
    #httpServletRequest.requestURI == 'admin/rooms/new'  ||
    #httpServletRequest.requestURI == 'user/rooms'}"
           th:text="#{message.roomslist-page.button.home}"
           th:href="@{/index}" class="btn btn-dark rightContainer">Home</p>
        </a>
        <a id="userEditor" th:if="${#httpServletRequest.requestURI == '/admin'
        || #httpServletRequest.requestURI == 'admin/rooms/new'
        || #httpServletRequest.requestURI == '/admin/rooms'}"
           sec:authorize="hasRole('ADMIN')" th:text="#{message.admin-page.usersmenu}"
           th:href="@{/admin/users}" class="btn btn-dark rightContainer">Edit users</a>
        <a id="currentUsers" th:if="${#httpServletRequest.requestURI == '/admin'}"
           th:href="@{/admin/today-users}" sec:authorize="hasRole('ADMIN')"
           th:text="#{message-admin-page.current-residents-menu}" class="btn header-button btn-dark rightContainer">
            Current residents</a>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/hotel.js}"></script>
    <script>
        $(document).ready(function () {
            indexUrls();
            adminUrls();
            if (document.getElementById("price").value === '') {
                $('#price').val(getPrice());
            }
        });</script>
</div>

<div th:fragment="panel-links" class="user-menu">
    <a sec:authorize="hasAnyRole('USER, ADMIN')" id="to-user-menu" th:href="@{/index(ur_page=1)}"
       class="btn menu-btn btn-info center-align">
        <span th:text="#{message.button.user-menu}">To user menu</span>
    </a>
    <a sec:authorize="hasRole('ADMIN')" id="to-admin-menu" th:href="@{/admin(prq_page=1)}"
       class="btn menu-btn btn-info center-align">
        <span th:text="#{message.button.admin-menu}">To admin menu</span>
    </a>
    <a sec:authorize="hasAnyRole('USER, ADMIN')" id="menu-newrequest" th:href="@{/request/new}"
       class="btn menu-btn btn-info center-align"
       th:text="#{message.hotel.new-request}">New request</a>
    <a sec:authorize="hasAnyRole('USER, ADMIN')" id="menu-rooms" th:href="@{/rooms}"
       class="btn menu-btn btn-info center-align"
       th:text="#{message.hotel.rooms}">Rooms</a>
    <a sec:authorize="hasRole('ADMIN')" id="menu-newroom" th:href="@{/rooms/new}"
       class="btn menu-btn btn-info center-align"
       th:text="#{message.hotel.new-room}">New room</a>
</div>


</body>
</html>