<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.epam.hotel.model.User" scope="prototype">
    </bean>
    <bean id="room" class="com.epam.hotel.model.Room" scope="prototype">
    </bean>
    <bean id="request" class="com.epam.hotel.model.Request" scope="prototype">
    </bean>

    <bean id="userDaoTemplate" class="com.epam.hotel.daos.UserDaoTemplateImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="userDaoJdbc" class="com.epam.hotel.daos.UserDaoJdbcImpl">
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="userService" class="com.epam.hotel.services.UserServiceImpl">
        <constructor-arg ref="userDaoTemplate"/>
    </bean>

    <bean id="roomDaoTemplate" class="com.epam.hotel.daos.RoomDaoTemplateImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="requestDaoJdbc" class="com.epam.hotel.daos.RequestDaoJDBC">
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="roomDaoJDBC" class="com.epam.hotel.daos.RoomDaoJDBCImpl">
    </bean>

    <bean id="roomService" class="com.epam.hotel.services.RoomServiceImpl">
        <constructor-arg ref="roomDaoTemplate"/>
    </bean>

    <bean id="requestService" class="com.epam.hotel.services.RequestServiceImpl">
        <constructor-arg ref="requestDaoJdbc"/>
    </bean>

</beans>