<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="datebase-config.xml"/>

    <bean id="user" class="model.User" scope="prototype">
    </bean>
    <bean id="room" class="model.Room" scope="prototype">
    </bean>

    <bean id="userDao" class="daos.UserDao">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>



</beans>