html, body {
    color: #d0d0d0 !important;
    background-image: url('/images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.error {
    margin-top: 0px;
    color: #ff5a5a !important;
}

.menu-btn {
    min-width: 200px;
}

.menu-active {
    background-color: #37d1ff !important;
    color: #000 !important;
}

.page-link {
    background-color: #00000012 !important;
    border: 1px solid #dee2e694 !important;
    color: #FFF;
}

.disabled a {
    color: #868a8e82 !important;
    border: 1px solid #dee2e694 !important;
}


.paid {
    color: #00ff6a;
}

#index-header {
    max-width: 590px;
}

#request-action-button {
    padding-top: 25px;
}

#register-haveacc {
    padding-top: 10px;
    padding-bottom: 15px;
}

#register-haveacc p {
    margin-top: 0px;
}

.warning-msg {
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 500px;
    height: 200px;
    padding: 25px;
    border: 2px solid #37D1FF;
    position: relative;
    margin: auto;
    top: 40%;
    z-index: 2;
}

.warning-msg-bg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    height: available;
    width: available;
    position: fixed;
    z-index: 1;
}

.center-align {
    text-align: center;
}

h3 {
    padding: 15px !important;
    color: white;
    font-weight: bold;
}

#login-header {
    margin-top: 10px;
    margin-bottom: 0;
}

#header {
    background-color: #00000073;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
}

.language {
    padding-top: 19px;
}

.header-button {
    margin-top: 12px !important;
    height: 37px;
}

#checkout {
    padding-bottom: 20px;
}

#signup {
    color: #FFC312;
}

.input-group-text {
    background-color: #65656563 !important;
}

.card-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.login_btn {
    width: 150px !important;
    color: black !important;
}

.pay_btn {
    font-weight: bold;
    width: 200px !important;
    color: black !important;
    background-color: #37d1ff !important;
}

.footer {
    background-color: #00000073;
}

.form-group {
    margin-bottom: 0px;
}

.login-input-group {
    margin-bottom: 15px !important;
}

.a {
    background-color: #FFC312 !important;
}

.input-group {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
}

.table-bordered th {
    border: 1px solid #dee2e647
}

.table-bordered td {
    border: 1px solid #dee2e647
}

.table thead th {
    border: 1px solid #dee2e647
}

.btn {
    background-color: #a0a0a063;
    border-color: #23232305;
    margin: 5px;
}

.roomsbutton {
    position: absolute;
}

.deny-btn {
    width: 75px;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: -webkit-fill-available;
    margin-bottom: auto;
    width: auto;
    min-width: 855px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.create-account {
    width: 97%;
}

.login-link {
    padding-left: 5px;
}

.card-login {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    min-width: 800px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.reserv-buttons {
    height: 50px;
}

table {
    text-align: center !important;
}

.button-deny {
    width: 200px;
}

.table td {
    vertical-align: middle !important;
    transition: 1s;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: #d0d0d0;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.btn-yellow {
    color: black;
    background-color: #FFC312;
    opacity: 0.9;
    width: 280px;
}

.btn-grey {
    color: white;
    background-color: rgba(29, 29, 3, 0.2);
    opacity: 0.9;
    width: 280px;
}

.btn-grey:hover {
    color: black;
    background-color: #FFC312;
    opacity: 0.9;
}

.btn-yellow-small {
    color: black;
    background-color: #FFC312;
    opacity: 0.9;
    width: 30px;
    border-radius: 5px;
}

.btn-grey-small {
    color: white;
    background-color: rgba(29, 29, 3, 0.2);
    opacity: 0.9;
    width: 30px;
    border-radius: 5px;
}

.btn-grey-small:hover {
    color: black;
    background-color: #FFC312;
    opacity: 0.9;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

form p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}