<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title>Hotel System</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 id="index-header" class="text-center"
                    th:text="#{message.admin-page.header}">Administration page</span></h3>
                <a th:href="@{/admin}" th:text="#{message.admin-page.pending}" class="btn btn-yellow center-align">Pending requests</a>
                <a th:href="@{/approvedrequests}" th:text="#{message.admin-page.approved}" class="btn btn-grey center-align">Approved requests</a>
            </div>
            <div class="card-body">
                <p class="white" th:if="${pagedList.hasContent()==false}" th:text="#{message.admin-page.no-request}">There are no active requests</p>
                <table th:if="${pagedList.hasContent()}" class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.hotel.checkin}">Check in</th>
                        <th scope="col" th:text="#{message.hotel.checkout}">Check out</th>
                        <th scope="col" th:text="#{message.hotel.status}">Payment status</th>
                        <th scope="col" th:text="#{message.find}">Find</th>
                        <th scope="col" th:text="#{message.delete}">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="request : ${pagedList}">
                        <tr>
                            <th th:text="${request.requestID}" scope="row">1</th>
                            <td th:text="#{'message.capacity.'+${request.capacity}}"></td>
                            <td th:text="#{'message.class.'+${request.classID}}"></td>
                            <td th:text="${#dates.format(request.checkIn,'MM/dd/yyyy')}"></td>
                            <td th:text="${#dates.format(request.checkOut,'MM/dd/yyyy')}"></td>
                            <td th:text="#{'message.status.'+${request.status}}"></td>
                            <td>
                                <a th:href="@{'/getallrooms/'+${request.requestID}}" th:text="#{message.find}"
                                   class="btn btn-dark float-left" >Find</a>
                            </td>
                            <td>
                                <a th:href="@{'/request/delete/'+${request.requestID}}" th:text="#{message.delete}"
                                   class="btn btn-dark float-left">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <nav th:if="${pagedList.totalPages > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${pagedList.isFirst()} ? disabled">
                            <a class="page-link"
                               th:href="@{/admin(page=${pagedList.number})}"
                               tabindex="-1"><
                            </a>
                        </li>
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                            th:classappend="${pageNumber==pagedList.number + 1} ? disabled">
                            <a class="page-link"
                               th:href="@{/admin(page=${pageNumber})}"
                               th:text="${pageNumber}">
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${pagedList.isLast()} ? disabled">
                            <a class="page-link"
                               th:href="@{/admin(page=${pagedList.number}+2)}"
                            >>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-footer">
                <a th:href="@{/index}" th:text="#{message.admin-page.user}" class="btn btn-info float-left">User menu</a>
                <a th:href="@{/roomseditor}" th:text="#{message.admin-page.editrooms}" class="btn btn-dark float-right">Edit rooms</a>
                <div class="text-center">
                    <span th:text="#{message.change-language}+': '"></span>
                    <a th:href="@{'/language?lang=en'}" th:text="#{message.locale.en}"></a><span> /</span>
                    <a th:href="@{'/language?lang=ru'}" th:text="#{message.locale.ru}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{resources/js/hotel.js}"></script>

</body>
</html>