    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title th:text="#{message.title}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <div class="card-header">
                    <h3 class="text-center" th:text="#{message.register-page.header}">Create Account</h3>
                </div>
                <form name="sign-in-form" th:object="${user}" th:action="@{/register}"
                      onsubmit="return validateSignInForm()" method="post">

                    <div class="login-input-group form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input id="login-input" name="login" class="form-control"
                               th:placeholder="#{message.register-page.login}" type="text"
                               th:field="*{login}">
                        <p hidden="" id="login-error" class="error" th:text="#{message.register-page.error.login}">login
                            error</p>
                    </div>

                    <div class="login-input-group form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input id="fn-input" name="firstName" class="form-control"
                               th:placeholder="#{message.register-page.firstname}" type="text"
                               th:field="*{firstName}">
                        <p hidden id="fn-error" class="error" th:text="#{message.register-page.error.firstname}">First
                            name error</p>
                    </div>

                    <div class="login-input-group form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input id="ln-input" name="lastName" class="form-control"
                               th:placeholder="#{message.register-page.lastname}" type="text"
                               th:field="*{lastName}">
                        <p hidden id="ln-error" class="error" th:text="#{message.register-page.error.lastname}">Last
                            name error</p>
                    </div>


                    <div class="login-input-group form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input id="pw-input" name="password" th:field="*{password}" class="form-control"
                               th:placeholder="#{message.register-page.create-password}"
                               type="password">
                    </div>
                    <p hidden id="pw-error" class="error" th:text="#{message.register-page.error.password}">Password
                        error</p>

                    <div class="login-input-group form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input id="confirm-input" name="confirm" class="form-control"
                               th:placeholder="#{message.register-page.repeat-password}"
                               type="password">
                    </div>
                    <p hidden id="confirm-error" class="error" th:text="#{message.register-page.error.confirm}">
                        Confirm error</p>

                    <div class="login-input-group form-group">
                        <button type="submit" class="btn btn-primary btn-block"
                                th:text="#{message.register-page.create-button}"> Create account
                        </button>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <p th:text="#{message.register-page.have-account}">Have an account?</p>
                        <a href="/login" th:text="#{message.register-page.login-link}">Log In</a>
                    </div>
                </form>
                <div class="text-center">
                    <span th:text="#{message.change-language}+': '"></span>
                    <a th:href="@{'/language?lang=en'}" th:text="#{message.locale.en}"></a><span> /</span>
                    <a th:href="@{'/language?lang=ru'}" th:text="#{message.locale.ru}"></a>
                </div>
            </article>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/hotel.js}"></script>
</body>
</html>