<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title th:text="#{message.title}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div th:insert="~{fragments/common :: header}"></div>
            <div th:insert="~{fragments/user :: userpanel-links}"></div>
            <article class="card-body mx-auto" style="max-width: 400px;">
                <div>
                    <h3 class="text-center" th:text="#{'message.request-page.header.'+${header}}"></h3>
                </div>

                <form onsubmit="return calendarValidate()" th:object="${request}" th:action="@{/request/save}"
                      method="post">

                    <p class="white" th:text="#{message.request-page.select.capacity}">Select capacity:</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-bed"></i> </span>
                        </div>
                        <select th:field="*{capacity}" class="form-control" id="selCapacity">
                            <option th:each="capacityValue : ${T(com.epam.hotel.domains.enums.Capacity).values()}"
                                    th:value="${capacityValue.name()}"
                                    th:text="#{'message.capacity.'+${capacityValue.name()}}">
                            </option>
                        </select>
                    </div>

                    <p class="white" th:text="#{message.request-page.select.class}">Select class:</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-piggy-bank"></i> </span>
                        </div>

                        <select th:field="*{classID}" class="form-control" id="selClass">
                            <option th:each="classIdValue : ${T(com.epam.hotel.domains.enums.ClassID).values()}"
                                    th:value="${classIdValue.name()}"
                                    th:text="#{'message.class.'+${classIdValue.name()}}">
                            </option>
                        </select>
                    </div>

                    <p class="white" th:text="#{message.request-page.select.checkin}">Select check in date:</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
                        </div>
                        <input id="checkIn" name="checkIn" autocomplete="off" class="form-control datepicker"
                               placeholder="Check in" type="text"
                               th:value="${#dates.format(request.checkIn,'MM/dd/yyyy')}">
                        <p hidden id="checkIn-error" class="error text-center"
                           th:text="#{message.request-page.error.checkin}">Check in error</p>
                    </div>


                    <p class="white" th:text="#{message.request-page.select.checkout}">Select check out date:</p>
                    <div id="checkoutdiv" class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
                        </div>
                        <input id="checkOut" name="checkOut" autocomplete="off" class="form-control datepicker"
                               placeholder="Check out" type="text"
                               th:value="${#dates.format(request.checkOut,'MM/dd/yyyy')}">
                        <p hidden id="checkOut-error" class="error text-center"
                           th:text="#{message.request-page.error.checkout}">Check out error</p>
                    </div>
                    <input hidden class="form-control" type="text" th:field="*{id}"/>
                    <input hidden class="form-control" type="text" th:field="*{deniedRequest}"/>
                    <div id="request-action-button" class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"
                                th:text="#{'message.'+${buttonName}}"></button>
                    </div>
                </form>

            </article>
        </div>
        <div th:insert="~{fragments/common :: footer}"></div>
    </div>
</div>
</body>
</html>