<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Hotel System</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div th:insert="~{fragments/common :: header}"></div>
            <div th:insert="~{fragments/admin :: adminpanel-links}"></div>
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h3 class="text-center" th:text="#{'message.rooms-page.header.' + ${headerName}}"></h3>
                <form th:object="${room}" th:action="@{'/rooms/save'}" method="post">

                    <p class="white" th:text="#{message.rooms-page.insert.roomnumber}">Insert room number:</p>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i> </span>
                        </div>
                        <input th:if="${room.getId()!=0}" th:field="*{number}" name="number" type="number"
                               class="form-control">
                        <input th:if="${room.getId()==0}" th:value="${number}" name="number" id="number" type="number"
                               class="form-control">
                    </div>
                    <p class="white" th:text="#{message.rooms-page.select.class}">Select class:</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-bed"></i> </span>
                        </div>

                        <select th:field="*{classID}" class="form-control price-changer" id="selClass">
                            <option th:each="classIDValue : ${T(com.epam.hotel.domains.enums.ClassID).values()}"
                                    th:value="${classIDValue.name()}"
                                    th:text="#{'message.class.'+ ${classIDValue.name()}}">
                            </option>
                        </select>
                    </div>

                    <p class="white" th:text="#{message.rooms-page.select.capacity}">Select capacity:</p>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-users"></i> </span>
                        </div>
                        <select th:field="*{capacity}" class="form-control price-changer" id="selCapacity">

                            <option th:each="capacityValue : ${T(com.epam.hotel.domains.enums.Capacity).values()}"
                                    th:value="${capacityValue.name()}"
                                    th:text="#{'message.capacity.' + ${capacityValue.name()}}">
                            </option>
                        </select>
                    </div>

                    <p class="white" th:text="#{message.rooms-page.insert.price}">Insert price:</p>
                    <div class="input-group form-group price-div">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-credit-card"></i> </span>
                        </div>
                        <span id="dollar">$</span>
                        <input th:field="*{price}" name="price" type="text" class="form-control price-input">
                    </div>
                    <input hidden class="form-control" type="text" th:field="*{id}">

                    <div class="form-group">
                        <button type="submit" class="request-action-button btn btn-primary btn-block"
                                th:text="#{'message.rooms-page.button.' + ${buttonName}}"></button>
                    </div>
                </form>
            </article>
            <div class="footer" th:insert="~{fragments/common :: footer}"></div>
        </div>
    </div>
</div>

</body>
</html>