<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title th:text="#{message.title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 id="index-header" th:text="#{message.admin-page.header}"class="text-center">Administration page</span></h3>
            </div>
            <div class="card-body">
                <p th:text="#{message.admin-page.approve}" class="white">Request approved</p>

                <div>
                </div>
            </div>
            <div class="card-footer">
                <a th:href="@{/admin}" th:text="#{message.back}" class="btn btn-info float-left">Back</a>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <span th:text="#{message.change-language}+': '"></span>
                <a th:href="@{'/language?lang=en'}">
                    <img width="35px" th:src="@{/images/en.png}" th:alt="#{message.locale.en}">
                </a> <span> /</span>
                <a th:href="@{'/language?lang=ru'}">
                    <img width="35px" th:src="@{/images/ru.png}" th:alt="#{message.locale.ru}">
                </a>
            </div>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{resources/js/hotel.js}"></script>


</body>
</html>