<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title th:text="#{message.title}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div th:insert="~{fragments/common :: header}"></div>
            <div id="adminpanel-links" th:insert="~{fragments/admin :: adminpanel-links}"></div>
            <div class="card-body">
                <p class="white" th:unless="${roomsList.hasContent()}"
                   th:text="#{message.fittingrooms-page.nofitting}">There are no fitting rooms</p>
                <table th:if="${roomsList.hasContent()}" class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{message.fittingrooms-page.roomnumber}">Room number</th>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.fittingrooms-page.price}">Price</th>
                        <th scope="col" th:text="#{message.fittingrooms-page.pick}">Pick Room</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="room : ${roomsList.content}">
                        <tr>
                            <th th:text="${room.number}" scope="row">1</th>
                            <td th:text="#{'message.capacity.'+${room.capacity}}"></td>
                            <td th:text="#{'message.class.'+${room.classID}}"></td>

                            <td th:text="'$'+${room.price}"></td>
                            <td>
                                <form th:action="@{/admin/suitable-rooms/pick}" th:object="${reservation}"
                                      method="post">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"
                                                th:text="#{message.fittingrooms-page.button.submit}"> Submit
                                        </button>
                                    </div>
                                    <input hidden id="roomId" name="roomId" th:value="${room.id}">
                                    <input hidden id="requestId" name="requestId" th:value="${requestId}">
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <nav id="nav-suitable-rooms" sec:authorize="hasRole('ADMIN')" th:if="${roomsList.totalPages > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${roomsList.isFirst()} ? disabled">
                            <a class="page-link"
                               tabindex="-1"
                               th:href="@{/admin/sutable-rooms(request=${requestId}, page=${roomsList.number})}"><
                            </a>
                        </li>
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                            th:classappend="${pageNumber==roomsList.number + 1} ? disabled">
                            <a class="page-link"
                               th:href="@{/admin/suitable-rooms(request=${requestId}, page=${pageNumber})}"
                               th:text="${pageNumber}">
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${roomsList.isLast()} ? disabled">
                            <a class="page-link"
                               th:href="@{/admin/suitable-rooms(request=${requestId}, page=${roomsList.number}+2)}"
                            >>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer" th:insert="~{fragments/common :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>