<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title th:text="#{message.title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div th:insert="~{fragments/common :: header}"></div>
            <div id="adminpanel-links" th:insert="~{fragments/admin :: adminpanel-links}"></div>
            <div class="card-body">
                <h3 id="index-header" class="left"
                    th:text="#{message-admin-page.current-residents}">Current residents</h3>
                <p class="white" th:if="${pagedList.getTotalPages()==0}" th:text="#{message.admin-page.no-users-today}">
                    There are no customers in a hotel today</p>
                <p class="white" th:if="${pagedList.hasContent()==false} and ${pagedList.getTotalPages()>0}"
                   th:text="#{message.admin-page.not-enough-users}">Not enough users for this page</p>
                <table th:if="${pagedList.hasContent()}" class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{message.hotel.firstname}">First name</th>
                        <th scope="col" th:text="#{message.hotel.lastname}">Last name</th>
                        <th scope="col" th:text="#{message.hotel.room}">Room</th>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.hotel.checkin}">Check In</th>
                        <th scope="col" th:text="#{message.hotel.checkout}">Check out</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="reservation : ${pagedList}">
                        <tr>
                            <th th:text="${reservation.request.id}" scope="row">1</th>
                            <td th:text="${reservation.request.user.firstName}"></td>
                            <td th:text="${reservation.request.user.lastName}"></td>
                            <td th:text="${reservation.room.number}"></td>
                            <td th:text="#{'message.capacity.'+${reservation.request.capacity}}"></td>
                            <td th:text="#{'message.class.'+${reservation.request.classID}}"></td>
                            <td th:text="${#dates.format(reservation.request.checkIn,'MM/dd/yyyy')}"></td>
                            <td th:text="${#dates.format(reservation.request.checkOut,'MM/dd/yyyy')}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <nav th:if="${pagedList.totalPages > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${pagedList.isFirst()} ? disabled">
                            <a class="page-link"
                               th:href="@{users(page=${pagedList.number})}"
                               tabindex="-1"><
                            </a>
                        </li>
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                            th:classappend="${pageNumber==pagedList.number + 1} ? disabled">
                            <a class="page-link"
                               th:href="@{users(page=${pageNumber})}"
                               th:text="${pageNumber}">
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${pagedList.isLast()} ? disabled">
                            <a class="page-link"
                               th:href="@{users(page=${pagedList.number}+2)}"
                            >>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer" th:insert="~{fragments/common :: footer}"></div>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{resources/js/hotel.js}"></script>

</body>
</html>