<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title th:text="#{message.title}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div hidden id="payment" class="warning-msg-bg">
    <div class="warning-msg">
        <h3 class="text-center" th:text="#{message.view-request.confirm-message}">confirm-message</h3>
        <a id="pay-confirm" class="btn btn-success float-left"
           th:text="#{message.pay}+': $'+${request.reservation.totalPrice}"
           th:href="@{'/reservation/pay/'+${request.id}}">pay</a>

        <a id="pay-cancel" onclick="showPaymentMessage(false)" class="btn btn-danger float-right"
           th:text="#{message.cancel}">cancel</a>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div th:insert="~{fragments/common :: header}"></div>
            <div th:insert="~{fragments/user :: userpanel-links}"></div>
            <h3 class="text-center"
                th:text="#{message.view-request.header}">
                View reservedRoom</h3>
            <div class="card-body">
                <p class="white" th:text="#{message.view-request.your-request}">Your request</p>
                <table class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.hotel.checkin}">Check in</th>
                        <th scope="col" th:text="#{message.hotel.checkout}">Check out</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="#{'message.capacity.'+${request.capacity}}"></td>
                        <td th:text="#{'message.class.'+${request.classID}}"></td>
                        <td th:text="${#dates.format(request.checkIn,'MM/dd/yyyy')}"></td>
                        <td th:text="${#dates.format(request.checkOut,'MM/dd/yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>

                <p class="white" th:text="#{message.view-request.proposed-room}"> proposed-room</p>
                <table class="table table-bordered white">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{message.roomslist-page.roomnumber}">Roomnumber</th>
                        <th scope="col" th:text="#{message.hotel.capacity}">Capacity</th>
                        <th scope="col" th:text="#{message.hotel.class}">Class</th>
                        <th scope="col" th:text="#{message.hotel.status}">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${request.reservation.room.number}"></td>
                        <td th:text="#{'message.capacity.'+${request.reservation.room.capacity}}"></td>
                        <td th:text="#{'message.class.'+${request.reservation.room.classID}}"></td>
                        <td th:text="#{'message.status.'+${request.reservation.status}}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="reserv-buttons" th:if="${request.reservation.status.name()=='BILLSENT'}">

                    <a onclick="showPaymentMessage(true)" class="btn pay_btn float-right"
                       th:text="#{message.pay}+': $'+${request.reservation.totalPrice}">pay</a>
                </div>
            </div>
            <div class="footer" th:insert="~{fragments/common :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>
